*,
*::after,
::before
{
    box-sizing: border-box;
}

.container
{
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 15px;
}
.pictures
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.img
{
    width: 380px;
    height: 260px;
    margin: 20px 0;
    transition: 0.3s;
    cursor: pointer;
}
.img:hover
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
